<div class="cd__progress">
  <p>{{ ss.progress_bar_title}}</p>
  
  {% comment %}
    <div class="cd__progress-line">
      <div class="cd__progress-inner"></div>
    </div>
  {% endcomment %}
</div>
