

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525248295497368628.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525248295497368628.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525248295497368628.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525248295497368628.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525248295497368628.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525248295497368628.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525248295497368628.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525248295497368628.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525248295497368628.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525248295497368628.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525248295497368628.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525248295497368628.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-525248295497368628.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525248295497368628.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525248295497368628.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525248295497368628.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525248295497368628.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525248295497368628.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525248295497368628.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525248295497368628.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525248295497368628.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525248295497368628.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525248295497368628.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525248295497368628.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525248295497368628.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525248295497368628.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525248295497368628.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525248295497368628.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525248295497368628.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525248295497368628.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525248295497368628.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525248295497368628.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525248295497368628.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525248295497368628.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525248295497368628.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525248295497368628.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525248295497368628.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-525248295497368628.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525248295497368628.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525248295497368628.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525248295497368628.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525248295497368628.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525248295497368628.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-525248295497368628.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525248295497368628.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525248295497368628.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-525248295497368628.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525248295497368628.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-525248295497368628.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525248295497368628.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525248295497368628.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-525248295497368628.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525248295497368628.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525248295497368628.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525248295497368628.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525248295497368628.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525248295497368628.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525248295497368628.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525248295497368628.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525248295497368628.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525248295497368628.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525248295497368628.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525248295497368628.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525248295497368628.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525248295497368628.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525248295497368628.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525248295497368628 .gp-relative{position:relative}.gps-525248295497368628 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525248295497368628 .gp-mb-0{margin-bottom:0}.gps-525248295497368628 .\!gp-inline{display:inline!important}.gps-525248295497368628 .gp-flex{display:flex}.gps-525248295497368628 .gp-grid{display:grid}.gps-525248295497368628 .\!gp-hidden{display:none!important}.gps-525248295497368628 .gp-hidden{display:none}.gps-525248295497368628 .gp-h-full{height:100%}.gps-525248295497368628 .gp-w-full{width:100%}.gps-525248295497368628 .gp-max-w-full{max-width:100%}.gps-525248295497368628 .gp-flex-col{flex-direction:column}.gps-525248295497368628 .gp-gap-y-0{row-gap:0}.gps-525248295497368628 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295497368628 .gp-duration-200{transition-duration:.2s}.gps-525248295497368628 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-525248295497368628 .tablet\:\!gp-hidden{display:none!important}.gps-525248295497368628 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525248295497368628 .mobile\:\!gp-hidden{display:none!important}.gps-525248295497368628 .mobile\:gp-hidden{display:none}}.gps-525248295497368628 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525248295497368628 .\[\&_p\]\:gp-inline p{display:inline}.gps-525248295497368628 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525248295497368628 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gUk6d-ZZHx"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:98px;--pl:25px;--pb:98px;--pr:25px;--pt-mobile:75px;--pb-mobile:57px;--pt-tablet:98px;--pb-tablet:98px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUk6d-ZZHx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glXDEpIhtt gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gegL4RasjE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-l);--pl-mobile:0px;--pr-mobile:0px;--cg:57px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gegL4RasjE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gMFQJUXHP- gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gY8-tAnYqn"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb-mobile:37px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-6a43fb93-4426-4edc-b922-9656cc240747.jpg?v=1721009676"
          alt=""
          fetchpriority="high"
          style="--aspect:789/775;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-6a43fb93-4426-4edc-b922-9656cc240747.jpg?v=1721009676"
        alt=""
        style="--aspect:789/775;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gY8-tAnYqn">
        .gY8-tAnYqn {

}
.gY8-tAnYqn > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glitNbNY-f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-NkOnvRxN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-NkOnvRxN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk5xbqH6qs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gngkQiEEWT "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:28px;--mb-mobile:19px;--mb-tablet:28px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--weight:400;--ls:0px;--size:44px;--size-tablet:36px;--size-mobile:30px;--lh:54px;--lh-tablet:120%;--lh-mobile:37px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;overflow:hidden"
        >{{ section.settings.ggngkQiEEWT_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ge07djeLtu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:27px;--lh-tablet:27px;--lh-mobile:18px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gge07djeLtu_text }}</div>
      </div>
    </div>
      <style id="custom-css-ge07djeLtu">
        .ge07djeLtu {

}
.ge07djeLtu p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-525248295497368628 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525248295497368628)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggngkQiEEWT_text","label":"ggngkQiEEWT_text","default":"The Science Behind Essential Fatty Acids"},{"type":"html","id":"gge07djeLtu_text","label":"gge07djeLtu_text","default":"<p>Delve into the fascinating science of essential fatty acids. These crucial nutrients play a pivotal role in cellular health, helping to maintain the integrity of cell membranes and supporting the body's inflammatory response. By supplementing with our carefully formulated capsules, you're not just supporting your health today; you're investing in your long-term well-being.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
