

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525248295514145629.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525248295514145629.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525248295514145629.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-525248295514145629.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525248295514145629.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525248295514145629.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525248295514145629.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525248295514145629.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525248295514145629.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525248295514145629.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525248295514145629.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-525248295514145629.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-525248295514145629.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525248295514145629.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-525248295514145629.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-525248295514145629.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525248295514145629.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-525248295514145629.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525248295514145629.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-525248295514145629.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-525248295514145629.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-525248295514145629.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525248295514145629.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525248295514145629.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525248295514145629.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525248295514145629.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525248295514145629.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525248295514145629.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525248295514145629.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525248295514145629.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525248295514145629.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525248295514145629.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525248295514145629.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525248295514145629.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525248295514145629.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-525248295514145629.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525248295514145629.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525248295514145629.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525248295514145629.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525248295514145629.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525248295514145629.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525248295514145629.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525248295514145629.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525248295514145629.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-525248295514145629.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525248295514145629.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-525248295514145629.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-525248295514145629.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525248295514145629.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525248295514145629.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-525248295514145629.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525248295514145629.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525248295514145629.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-525248295514145629.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-525248295514145629.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-525248295514145629.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-525248295514145629.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-525248295514145629.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525248295514145629.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525248295514145629.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525248295514145629.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-525248295514145629.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-525248295514145629.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-525248295514145629.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-525248295514145629.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-525248295514145629.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525248295514145629.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525248295514145629.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525248295514145629.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-525248295514145629.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-525248295514145629.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-525248295514145629.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-525248295514145629.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-525248295514145629.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525248295514145629.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525248295514145629.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525248295514145629.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525248295514145629.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-525248295514145629.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525248295514145629.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-525248295514145629.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-525248295514145629.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525248295514145629.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525248295514145629 .gp-absolute{position:absolute}.gps-525248295514145629 .gp-relative{position:relative}.gps-525248295514145629 .gp-z-1{z-index:1}.gps-525248295514145629 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525248295514145629 .gp-mb-0{margin-bottom:0}.gps-525248295514145629 .gp-flex{display:flex}.gps-525248295514145629 .gp-inline-flex{display:inline-flex}.gps-525248295514145629 .gp-grid{display:grid}.gps-525248295514145629 .\!gp-hidden{display:none!important}.gps-525248295514145629 .gp-hidden{display:none}.gps-525248295514145629 .gp-h-full{height:100%}.gps-525248295514145629 .gp-w-full{width:100%}.gps-525248295514145629 .gp-max-w-full{max-width:100%}.gps-525248295514145629 .gp-flex-col{flex-direction:column}.gps-525248295514145629 .gp-items-center{align-items:center}.gps-525248295514145629 .\!gp-justify-center{justify-content:center!important}.gps-525248295514145629 .gp-justify-center{justify-content:center}.gps-525248295514145629 .gp-gap-y-0{row-gap:0}.gps-525248295514145629 .gp-overflow-hidden{overflow:hidden}.gps-525248295514145629 .gp-break-words{overflow-wrap:break-word}.gps-525248295514145629 .gp-rounded-none{border-radius:0}.gps-525248295514145629 .gp-no-underline{text-decoration-line:none}.gps-525248295514145629 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295514145629 .gp-duration-200{transition-duration:.2s}.gps-525248295514145629 .gp-duration-300{transition-duration:.3s}.gps-525248295514145629 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295514145629 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-525248295514145629 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-525248295514145629 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-525248295514145629 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-525248295514145629 .tablet\:gp-relative{position:relative}.gps-525248295514145629 .tablet\:\!gp-hidden{display:none!important}.gps-525248295514145629 .tablet\:gp-hidden{display:none}.gps-525248295514145629 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-525248295514145629 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-525248295514145629 .mobile\:gp-relative{position:relative}.gps-525248295514145629 .mobile\:\!gp-hidden{display:none!important}.gps-525248295514145629 .mobile\:gp-hidden{display:none}.gps-525248295514145629 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-525248295514145629 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-525248295514145629 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-525248295514145629 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-525248295514145629 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525248295514145629 .\[\&_p\]\:gp-inline p{display:inline}.gps-525248295514145629 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-525248295514145629 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525248295514145629 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="geeUmmYOrD"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:90px;--pr:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:53px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:90px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geeUmmYOrD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOJVWxyroU gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:fit-content;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":638,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369","storage":"FILE_CONTENT","width":1758},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":638,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369","storage":"FILE_CONTENT","width":1758},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":638,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369","storage":"FILE_CONTENT","width":1758},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gLMYzDY8Zj","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        
        class="gLMYzDY8Zj gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--h:fit-content;--h-tablet:auto;--h-mobile:auto;--w:1170px;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369" />
        <source media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369" />
        <img
          title
          class="adaptive-hero-banner"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369"
          alt=""
          fetchpriority="high"
          style="--aspect:1758/638;--aspect-tablet:1758/638;--aspect-mobile:1758/638;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:auto;--w:1170px;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369"
        alt=""
        style="--aspect:1758/638;--aspect-tablet:1758/638;--aspect-mobile:1758/638;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:auto;--w:1170px;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-9f2531fa-2436-4d7a-bdb2-b5ac2838d216.png?v=1721792369);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:69px;--pb:69px;--pl-tablet:25px;--pr-tablet:25px;--pt-tablet:69px;--pb-tablet:69px;--pl-mobile:25px;--pr-mobile:25px;--pt-mobile:69px;--pb-mobile:69px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geQ7wtN_dY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g80EU2-thh "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--weight:400;--ls:0px;--size:44px;--size-tablet:46px;--size-mobile:25px;--lh:54px;--lh-tablet:130%;--lh-mobile:31px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg80EU2-thh_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gEoMX6b4bo "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:43px;--mb-mobile:26px;--mb-tablet:48px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:811px;--w-tablet:811px;--w-mobile:811px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:12px;--lh:27px;--lh-tablet:27px;--lh-mobile:15px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEoMX6b4bo_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    class=""
  >
    <style>
    .gAzjEYKG_7.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gAzjEYKG_7:hover::before {
      
      
    }

    .gAzjEYKG_7:hover .gp-button-icon {
      color: undefined;
    }

     .gAzjEYKG_7 .gp-button-icon {
      color: #000000;
    }

    .gAzjEYKG_7:hover .gp-button-price {
      color: undefined;
    }

    .gAzjEYKG_7 .gp-button-price {
      color: #000000;
    }

    .gAzjEYKG_7 .gp-product-dot-price {
       color: #000000;
    }

    .gAzjEYKG_7:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="gAzjEYKG_7" aria-label="<p>Our Story</p>"
      
      data-state="idle"
      class="gAzjEYKG_7 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:41px;--pr:41px;--pt:18px;--pb:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--c:#000000;--size:23px;--size-tablet:23px;--size-mobile:13px;--weight:500;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:13px"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style=""
      >
        {{ section.settings.ggAzjEYKG_7_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-525248295514145629 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525248295514145629)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg80EU2-thh_text","label":"gg80EU2-thh_text","default":"Us, And why we’re here."},{"type":"html","id":"ggEoMX6b4bo_text","label":"ggEoMX6b4bo_text","default":"<p>We believe in the power of nature to enhance your well-being. Inspired by the brilliance and purity of gemstones, we've dedicated ourselves to crafting premium health supplements that elevate your vitality and nurture your body from within.</p>"},{"type":"html","id":"ggAzjEYKG_7_label","label":"ggAzjEYKG_7_label","default":"<p>Our Story</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
