

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533922856967340810.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533922856967340810.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533922856967340810.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533922856967340810.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533922856967340810.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533922856967340810.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533922856967340810.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533922856967340810.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533922856967340810.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533922856967340810.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533922856967340810.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533922856967340810.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533922856967340810.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533922856967340810.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533922856967340810.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533922856967340810.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533922856967340810.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533922856967340810.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533922856967340810.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-533922856967340810.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533922856967340810.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533922856967340810.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533922856967340810.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-533922856967340810.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533922856967340810.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533922856967340810.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-533922856967340810.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-533922856967340810.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533922856967340810.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533922856967340810.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533922856967340810.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533922856967340810.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533922856967340810.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533922856967340810.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533922856967340810.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533922856967340810.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533922856967340810.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533922856967340810.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533922856967340810.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533922856967340810.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-533922856967340810.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533922856967340810.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533922856967340810.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-533922856967340810.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-533922856967340810.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-533922856967340810.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-533922856967340810.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533922856967340810.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533922856967340810.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533922856967340810.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533922856967340810.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533922856967340810.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533922856967340810.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-533922856967340810.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-533922856967340810.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-533922856967340810.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533922856967340810.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533922856967340810.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533922856967340810.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533922856967340810.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533922856967340810 .gp-relative{position:relative}.gps-533922856967340810 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533922856967340810 .gp-mb-0{margin-bottom:0}.gps-533922856967340810 .gp-flex{display:flex}.gps-533922856967340810 .gp-grid{display:grid}.gps-533922856967340810 .\!gp-hidden{display:none!important}.gps-533922856967340810 .gp-hidden{display:none}.gps-533922856967340810 .gp-max-w-full{max-width:100%}.gps-533922856967340810 .gp-flex-col{flex-direction:column}.gps-533922856967340810 .gp-gap-y-0{row-gap:0}.gps-533922856967340810 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533922856967340810 .gp-duration-200{transition-duration:.2s}.gps-533922856967340810 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-533922856967340810 .tablet\:\!gp-hidden{display:none!important}.gps-533922856967340810 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533922856967340810 .mobile\:\!gp-hidden{display:none!important}.gps-533922856967340810 .mobile\:gp-hidden{display:none}}.gps-533922856967340810 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533922856967340810 .\[\&_p\]\:gp-inline p{display:inline}.gps-533922856967340810 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-533922856967340810 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g5cUdbRyBG"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--op-mobile:100%;--op-tablet:100%;--rounded:[object Object];--pt:var(--g-s-2xl);--pl:20px;--pb:0px;--pr:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFCF5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5cUdbRyBG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP0y2_rpC6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1rhJ7XtXw "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--op-mobile:100%;--rounded:[object Object];--mb:48px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1rhJ7XtXw_text }}</div>
      </div>
    </div>
      <style id="custom-css-g1rhJ7XtXw">
        .g1rhJ7XtXw {

}
.g1rhJ7XtXw p {

}
      </style>
    
    <div
      parentTag="Col"
        class="gcxE0OgMlH "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--op-mobile:100%;--op-tablet:100%;--rounded:[object Object];--mt:12px;--mb:12px;--mt-mobile:12px;--mb-mobile:12px;--pb-mobile:0px;--mt-tablet:12px;--mb-tablet:12px;--pb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:1200%;--w-tablet:1200%;--w-mobile:1200%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcxE0OgMlH_text }}</div>
      </div>
    </div>
      <style id="custom-css-gcxE0OgMlH">
        .gcxE0OgMlH {

}
.gcxE0OgMlH p {

}
      </style>
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-533922856967340810 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=533922837656765413&sectionId=533922856967340810)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1rhJ7XtXw_text","label":"gg1rhJ7XtXw_text","default":"<p>Privacy &amp; GDPR Disclosure: We value your privacy and are committed to transparency. While we may collect personal information for marketing purposes, we will always inform you of the reasons behind such collection. Additionally, please be aware that this website uses cookies for marketing purposes.<br>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE. THE OWNERS OF THIS WEBSITE RECEIVE COMPENSATION FOR THE SALE OF SOCKSCOMPRESSION.<br>Marketing Disclosure: This website serves as a marketplace. It is important to note that the owner has a financial connection to the advertised products and services. The owner receives payment when a qualified lead is referred, but this is the extent of the relationship.</p>"},{"type":"html","id":"ggcxE0OgMlH_text","label":"ggcxE0OgMlH_text","default":"<p>Copyright © 2024 GemCommerce. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
