
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564697536808354981.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-564697536808354981.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564697536808354981.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564697536808354981.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-564697536808354981.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564697536808354981.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564697536808354981.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564697536808354981.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564697536808354981.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-564697536808354981.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-564697536808354981.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564697536808354981.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-564697536808354981.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-564697536808354981.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564697536808354981.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-564697536808354981.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-564697536808354981.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-564697536808354981.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-564697536808354981.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-564697536808354981.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-564697536808354981.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564697536808354981.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-564697536808354981.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564697536808354981.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564697536808354981.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564697536808354981.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564697536808354981.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564697536808354981.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564697536808354981.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-564697536808354981.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564697536808354981.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564697536808354981.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564697536808354981.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564697536808354981.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564697536808354981.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-564697536808354981.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-564697536808354981.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564697536808354981.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564697536808354981.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-564697536808354981.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-564697536808354981.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-564697536808354981.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564697536808354981.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564697536808354981.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564697536808354981.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564697536808354981.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564697536808354981.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564697536808354981.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564697536808354981.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564697536808354981.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564697536808354981.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-564697536808354981.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564697536808354981.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564697536808354981.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564697536808354981.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-564697536808354981.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-564697536808354981.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-564697536808354981.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564697536808354981.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564697536808354981.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564697536808354981.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-564697536808354981.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564697536808354981.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564697536808354981.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564697536808354981.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564697536808354981.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-564697536808354981.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-564697536808354981.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-564697536808354981.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564697536808354981.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564697536808354981.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564697536808354981.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564697536808354981.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564697536808354981.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-564697536808354981.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-564697536808354981.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-564697536808354981.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564697536808354981.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564697536808354981.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564697536808354981.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564697536808354981.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-564697536808354981.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-564697536808354981.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-564697536808354981 .gp-relative{position:relative}.gps-564697536808354981 .gp-z-1{z-index:1}.gps-564697536808354981 .\!gp-m-0{margin:0!important}.gps-564697536808354981 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564697536808354981 .gp-mb-0{margin-bottom:0}.gps-564697536808354981 .gp-flex{display:flex}.gps-564697536808354981 .gp-inline-flex{display:inline-flex}.gps-564697536808354981 .gp-grid{display:grid}.gps-564697536808354981 .\!gp-hidden{display:none!important}.gps-564697536808354981 .gp-hidden{display:none}.gps-564697536808354981 .gp-max-w-full{max-width:100%}.gps-564697536808354981 .gp-shrink-0{flex-shrink:0}.gps-564697536808354981 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564697536808354981 .gp-flex-col{flex-direction:column}.gps-564697536808354981 .gp-items-center{align-items:center}.gps-564697536808354981 .gp-justify-center{justify-content:center}.gps-564697536808354981 .gp-text-center{text-align:center}.gps-564697536808354981 .gp-no-underline{text-decoration-line:none}.gps-564697536808354981 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564697536808354981 .gp-duration-200{transition-duration:.2s}.gps-564697536808354981 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564697536808354981 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-564697536808354981 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-564697536808354981 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-564697536808354981 .tablet\:\!gp-hidden{display:none!important}.gps-564697536808354981 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-564697536808354981 .mobile\:\!gp-hidden{display:none!important}.gps-564697536808354981 .mobile\:gp-hidden{display:none}}.gps-564697536808354981 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-564697536808354981 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-564697536808354981 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-564697536808354981 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-564697536808354981 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gf5xDXwdHe"}' data-id="gf5xDXwdHe" id="gf5xDXwdHe" data-same-height-subgrid-container class="gf5xDXwdHe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAzrmNHr3_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"tablet":{"color":"#F6F6F6"}},"uid":"g3YXBzrv-3"}' data-id="g3YXBzrv-3" id="g3YXBzrv-3" data-same-height-subgrid-container class="g3YXBzrv-3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:48px;--pl:0px;--pb:48px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:48px;--pl-tablet:0px;--pb-tablet:48px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, auto);--w:100%;--bgc:#F6F6F6;--bgc-tablet:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g72QXkry0j gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPYVS86_Qx"}' data-id="gPYVS86_Qx" id="gPYVS86_Qx" data-same-height-subgrid-container class="gPYVS86_Qx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJKzcM7sT2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP8X_RI4rn"
        class="gP8X_RI4rn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030177365"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP8X_RI4rn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gP8X_RI4rn">
        .gP8X_RI4rn {

}
.gP8X_RI4rn p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdCSirP9sW"}' data-id="gdCSirP9sW" id="gdCSirP9sW" data-same-height-subgrid-container class="gdCSirP9sW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvT1uav3Ye gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gTRWOUht4k","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      style="--bottom:12px;--bottom-mobile:21px;--pos:fixed;--right:24px;--right-mobile:15px;--z:2"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right" >
        <style>[data-id="gOnsm3FlwS"].gp-button-base::before, [data-id="gOnsm3FlwS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gOnsm3FlwS"]:hover::before, [data-id="gOnsm3FlwS-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gTRWOUht4k
            target=_self
          ></a>
        <a
          data-id="gOnsm3FlwS" dataId="gOnsm3FlwS" data-state="idle" aria-label
          
          href="#gTRWOUht4k" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:13px;--pb-mobile:13px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gOnsm3FlwS gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554946326888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z" /></svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gOnsm3FlwS">
        button.gOnsm3FlwS {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-564697536808354981 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=564697536741246117&sectionId=564697536808354981)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggP8X_RI4rn_text","label":"ggP8X_RI4rn_text","default":"<p><span style=\"font-size:11px;\">Privacy &amp; GDPR Disclosure: We sometimes collect personal information for marketing purposes, but will always let users know why we are collecting that information. This site uses cookies for marketing purposes.</span><br><span style=\"font-size:11px;\">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE. THE OWNERS OF THIS WEBSITE RECEIVE COMPENSATION FOR THE SALE OF SOCKSCOMPRESSION.</span><br><span style=\"font-size:11px;\">Marketing Disclosure: This website is a market place. As such you should know that the owner has a monetary connection to the product and services advertised on the site. The owner receives payment whenever a qualified lead is referred but that is the extent of the relationship.</span><br><span style=\"font-size:11px;\">Advertising Disclosure: This website and its owners are compensated for promoting and recommending the products and services mentioned. This website is an advertisement and not a news publication. Any photographs of persons used on this site are models. The owner of this site and the owner of the products and services referred to only provide a service where consumers can obtain and compare products and services.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  