

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525248295346373420.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525248295346373420.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525248295346373420.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525248295346373420.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525248295346373420.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525248295346373420.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525248295346373420.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525248295346373420.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525248295346373420.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525248295346373420.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525248295346373420.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525248295346373420.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-525248295346373420.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525248295346373420.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525248295346373420.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525248295346373420.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525248295346373420.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525248295346373420.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525248295346373420.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525248295346373420.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525248295346373420.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525248295346373420.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525248295346373420.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525248295346373420.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525248295346373420.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525248295346373420.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525248295346373420.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525248295346373420.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525248295346373420.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525248295346373420.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525248295346373420.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525248295346373420.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525248295346373420.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525248295346373420.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-525248295346373420.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525248295346373420.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525248295346373420.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525248295346373420.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525248295346373420.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525248295346373420.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-525248295346373420.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525248295346373420.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525248295346373420.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525248295346373420.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525248295346373420.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525248295346373420.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525248295346373420.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525248295346373420.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525248295346373420.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525248295346373420.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-525248295346373420 .gp-relative{position:relative}.gps-525248295346373420 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525248295346373420 .gp-mb-0{margin-bottom:0}.gps-525248295346373420 .\!gp-inline{display:inline!important}.gps-525248295346373420 .gp-flex{display:flex}.gps-525248295346373420 .gp-grid{display:grid}.gps-525248295346373420 .\!gp-hidden{display:none!important}.gps-525248295346373420 .gp-hidden{display:none}.gps-525248295346373420 .gp-h-full{height:100%}.gps-525248295346373420 .gp-w-full{width:100%}.gps-525248295346373420 .gp-max-w-full{max-width:100%}.gps-525248295346373420 .gp-flex-col{flex-direction:column}.gps-525248295346373420 .gp-gap-y-0{row-gap:0}.gps-525248295346373420 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295346373420 .gp-duration-200{transition-duration:.2s}.gps-525248295346373420 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-525248295346373420 .tablet\:\!gp-hidden{display:none!important}.gps-525248295346373420 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525248295346373420 .mobile\:\!gp-hidden{display:none!important}.gps-525248295346373420 .mobile\:gp-hidden{display:none}}.gps-525248295346373420 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gdnKYTT3w9"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pt:26px;--pl:25px;--pb:34px;--pr:25px;--pt-mobile:18px;--pl-mobile:25px;--pb-mobile:22px;--pr-mobile:25px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(241, 240, 236, 0.7);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdnKYTT3w9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUd01KUudC gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkOhD3SHku"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkOhD3SHku gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVJYjP2Wnp gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image get19wbO_E"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-dc4124ae-d69a-4f52-9342-fd6e04f1a8a0.png?v=1721009475"
          alt=""
          fetchpriority="high"
          style="--aspect:185/49;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:122px;--w-tablet:122px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-dc4124ae-d69a-4f52-9342-fd6e04f1a8a0.png?v=1721009475"
        alt=""
        style="--aspect:185/49;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:122px;--w-tablet:122px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-get19wbO_E">
        .get19wbO_E {

}
.get19wbO_E > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gK_1aLgoBm gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gj5ISBt_i7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-87611b01-590f-4dcc-a9c6-971216515a09.png?v=1721009485"
          alt=""
          fetchpriority="high"
          style="--aspect:157/70;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:104px;--w-tablet:104px;--w-mobile:55px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-87611b01-590f-4dcc-a9c6-971216515a09.png?v=1721009485"
        alt=""
        style="--aspect:157/70;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:104px;--w-tablet:104px;--w-mobile:55px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gj5ISBt_i7">
        .gj5ISBt_i7 {

}
.gj5ISBt_i7 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfI_4MKv9P gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gPgiPG8FHx"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-385b9199-f943-46d9-a539-d2bdce719606.png?v=1721009495"
          alt=""
          fetchpriority="high"
          style="--aspect:204/54;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:135px;--w-tablet:135px;--w-mobile:72px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-385b9199-f943-46d9-a539-d2bdce719606.png?v=1721009495"
        alt=""
        style="--aspect:204/54;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:135px;--w-tablet:135px;--w-mobile:72px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gPgiPG8FHx">
        .gPgiPG8FHx {

}
.gPgiPG8FHx > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZXaMCxssP gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gC9IQW_dz4"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-71ed4ced-0322-4426-9f3d-d21472cc8a0a.png?v=1721009505"
          alt=""
          fetchpriority="high"
          style="--aspect:158/86;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:105px;--w-tablet:105px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-71ed4ced-0322-4426-9f3d-d21472cc8a0a.png?v=1721009505"
        alt=""
        style="--aspect:158/86;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:105px;--w-tablet:105px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gC9IQW_dz4">
        .gC9IQW_dz4 {

}
.gC9IQW_dz4 > figure > img {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-525248295346373420 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525248295346373420)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
