

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534668478003545083.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534668478003545083.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534668478003545083.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534668478003545083.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534668478003545083.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534668478003545083.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534668478003545083.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534668478003545083.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534668478003545083.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534668478003545083.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534668478003545083.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534668478003545083.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-534668478003545083.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534668478003545083.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-534668478003545083.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534668478003545083.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534668478003545083.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534668478003545083.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534668478003545083.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534668478003545083.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534668478003545083.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-534668478003545083.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-534668478003545083.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-534668478003545083.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534668478003545083.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534668478003545083.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-534668478003545083.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534668478003545083.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-534668478003545083.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-534668478003545083.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534668478003545083.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534668478003545083.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-534668478003545083.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534668478003545083 .\!gp-pointer-events-none{pointer-events:none!important}.gps-534668478003545083 .gp-relative{position:relative}.gps-534668478003545083 .gp-sticky{position:sticky}.gps-534668478003545083 .gp-z-\[100000\]{z-index:100000}.gps-534668478003545083 .gp-flex{display:flex}.gps-534668478003545083 .\!gp-hidden{display:none!important}.gps-534668478003545083 .gp-hidden{display:none}.gps-534668478003545083 .gp-flex-col{flex-direction:column}@media (max-width:1023px){.gps-534668478003545083 .tablet\:\!gp-hidden{display:none!important}.gps-534668478003545083 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534668478003545083 .mobile\:\!gp-hidden{display:none!important}.gps-534668478003545083 .mobile\:gp-hidden{display:none}}.gps-534668478003545083 .\[\&_gp-button_a\]\:\!gp-pointer-events-auto gp-button a{pointer-events:auto!important}</style>

    
    <gp-sticky
    data-id="gXdNZ34mru"
      gp-data='{"uid":"gXdNZ34mru","setting":{"display":{"desktop":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gXdNZ34mru"
      data-id="gXdNZ34mru"
      class="gXdNZ34mru gp-z-[100000] {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  !gp-pointer-events-none [&_gp-button_a]:!gp-pointer-events-auto"
      style="margin:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--w:96%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--top:auto;--bottom:0;--pos:fixed;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%)"
    >
      <div >
        <div
      
      
      class="ghhM300CAh gp-relative gp-flex gp-flex-col"
    >
      
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-534668478003545083 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=524836910242268222&sectionId=534668478003545083)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
