/* ========================= Variables ========================== */
:root {
  /* Gradient variables for metals */
  --accent-color: #060346;
  --accent-color-light: #d2d9ff;
  --foreground-color: #f7f7f7;
  --secondary-color: #000;
  --secondary-color-light: #adadad;
  --tertiary-color: #008616;
  --tertiary-color-light: #b9efb9;
}

/* ========================= Trustpilot Widget ========================== */
.trustpilot-widget,
.trustpilot-widget a#profile-link {
  max-width: 420px;
  width: 100% !important;
  margin-inline: auto;
}
/* ========================= Global ========================== */
img {
  width: auto;
  height: auto;
  vertical-align: bottom;
}
body.no-scroll,
.no-scroll {
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .SDesktop_only {
    display: none !important;
  }
}
@media screen and (min-width: 600px) {
  .SMobile_only {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .pr-item__product.Desktop_only,
  .Desktop_only {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .pr-item__product.Mobile_only,
  .Mobile_only {
    display: none !important;
  }
}
@media screen and (max-width: 1023px) {
  .LDesktop_only {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .LMobile_only {
    display: none !important;
  }
}

.headerlogoTop {
  max-width: 80px;
}
body:has(.mobile-facets__disclosure.disclosure-has-popup.menu-opening) #gorgias-chat-container #chat-button {
  display: none !important;
}
/* ========================= Custom Section Elements ========================== */
container {
  max-width: 1600px;
  display: block;
  padding: 4.8rem 1.6rem;
  margin-inline: auto;
}
/* Section Flex */
flex,
.section-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}
/* Grid */
grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 12px;
}
/* Section Point */
point {
  display: flex;
  align-items: center;
  gap: 6px;
}
point img {
  width: 18px;
}
point p {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-block: 0;
}
info-box {
  width: fit-content;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
}

@media screen and (min-width: 768px) {
  container {
    padding: 4.8rem 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  container {
    padding: 6.2rem 3.2rem;
  }
}
@media screen and (min-width: 1367px) {
  container {
    padding: 6.2rem 4.8rem;
  }
}
/* ========================= Header ========================== */
body .header .mega-menu__link--level-2 {
  color: black;
  margin-bottom: 10px;
}
body .header .mega-menu__link--level-2:not([href]) {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
body .mobile-facets {
  transition: all 200ms ease;
}
body:has(.scrolled-past-header:not(.menuOpened)):has(.announcement-w-timer) .mobile-facets {
  top: 36px;
}
body:has(.scrolled-past-header:not(.shopify-section-header-hidden)):has(.announcement-w-timer) .mobile-facets {
  top: 112px;
}
body:has(.shopify-section-group-header-group:not(.scrolled-past-header)) .mobile-facets {
  top: 129px;
}
/* ========================= Modal global ========================== */
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.modal-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.modal-overlay {
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background 0.3s ease-in-out;
}
.modal-wrapper.active > .modal-overlay {
  display: block !important;
  background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper.active .modal-content {
  transform: scale(1);
  opacity: 1;
}
.modal-content {
  overflow: auto;
  height: 100%;
  max-width: 1200px;
  z-index: 2;
  position: relative;
  opacity: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 48px 12px;
  margin: 0 auto;
  transform: scale(0.8);
  transition: 0.3s ease-out;
}
.modal-wrapper.active .modal-content {
  transform: scale(1);
  opacity: 1;
}
.modal-content::-webkit-scrollbar {
  width: 8px;
}
.modal-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}
.modal-content::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 8px;
  background: none;
  border: none;
  font-size: 32px;
  line-height: 0.8;
  cursor: pointer;
}
@media screen and (min-width: 540px) {
  .modal-wrapper {
    padding-inline: 16px;
  }
  .modal-content {
    max-height: 90vh;
    height: unset;
    padding-inline: 16px;
    margin: clamp(16px, 5%, 48px) auto;
  }
}
@media screen and (min-width: 768px) {
  .modal-close {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-content {
    padding-inline: 24px;
  }
}

/* ========================= Copy Notification ========================== */
.copy-notification {
  position: fixed;
  bottom: 24px;
  left: 24px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  z-index: 9999;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
  border: none;
}

/* ========================= Loading State ========================== */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
  gap: 8px;
}
.loading:after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading-spin 1s linear infinite;
}
@keyframes loading-spin {
  to {
    transform: rotate(360deg);
  }
}

/* ========================= Main CTA snippet ========================== */
.main-cta-wrapper {
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main-cta {
  --cta-accent: var(--accent-color);
  --cta-light: white;
  --cta-dark: #252525;
  min-width: 280px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  border: 2px solid var(--cta-dark);
  background-color: var(--cta-light);
  color: var(--cta-dark);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  padding: 20px 16px;
  margin-inline: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main-cta:hover {
  background-color: var(--cta-dark);
  border-color: var(--cta-light);
  color: var(--cta-light);
}
.main-cta.dark {
  background-color: var(--cta-dark);
  border-color: var(--cta-light);
  color: var(--cta-light);
}
.main-cta.dark:hover {
  background-color: var(--cta-light);
  border-color: var(--cta-dark);
  color: black;
}
.main-cta.accent {
  background-color: var(--cta-accent);
  border-color: var(--cta-accent);
  color: var(--cta-light);
}
.main-cta.accent:hover {
  background-color: var(--cta-light);
  border-color: var(--cta-accent);
  color: var(--cta-accent);
}
.main-cta-note {
  color: #2a2a2a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .main-cta {
    min-width: 340px;
  }
}
@media screen and (min-width: 1024px) {
  .main-cta {
    font-size: 20px;
  }
}

/* ========================= Heading snippet ========================== */
.heading-wrapper.start-mb,
.heading-wrapper.start-mb > *,
.heading-wrapper > .start-mb {
  justify-content: flex-start;
  text-align: start;
}
.heading-wrapper.center-mb,
.heading-wrapper.center-mb > *,
.heading-wrapper > .center-mb {
  justify-content: center;
  text-align: center;
}
.heading-wrapper.end-mb,
.heading-wrapper.end-mb > *,
.heading-wrapper > .end-mb {
  justify-content: flex-end;
  text-align: end;
}
.heading-wrapper {
  font-family: var(--font-body-family);
  position: relative;
  padding: 40px 16px 24px;
}
.heading-title {
  color: var(--accent-color);
  font-family: var(--font-heading-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.0025em;
  margin-block: 0;
}
.heading-title-amp {
  font-family: "Poppins", var(--font-body-family), sans-serif;
}
.heading-title-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.heading-title-logo img {
  max-height: 32px;
}
.heading-sub-text {
  color: #5b6854;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
  margin-block: 8px;
}
.heading-text {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.heading-title + .heading-text {
  margin-top: 12px;
}
.heading-shop-all {
  color: #505050;
  position: absolute;
  top: 40px;
  right: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-decoration: underline;
  padding-top: 4px;
}
.heading-shop-all:hover {
  color: black;
}
.heading-properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-block: 10px;
}
.heading-property {
  display: flex;
  align-items: center;
  gap: 10px;
}
.heading-property img {
  width: 22px;
  height: 22px;
}
.heading-property p {
  font-size: 16px;
  line-height: normal;
  margin: 0;
}
@media (min-width: 1024px) {
  .heading-wrapper.start,
  .heading-wrapper.start > *,
  .heading-wrapper > .start {
    justify-content: flex-start;
    text-align: start;
  }
  .heading-wrapper.center,
  .heading-wrapper.center > *,
  .heading-wrapper > .center {
    justify-content: center;
    text-align: center;
  }
  .heading-wrapper.end,
  .heading-wrapper.end > *,
  .heading-wrapper > .end {
    justify-content: flex-end;
    text-align: end;
  }
  .heading-wrapper {
    padding: 60px 30px 24px;
  }
  .heading-title {
    font-size: 38px;
  }
  .heading-title-logo img {
    max-height: 40px;
  }
  .heading-sub-text {
    font-size: 32px;
    margin-block: 16px;
  }
  .heading-text {
    font-size: 18px;
  }
  .heading-shop-all {
    font-size: 15px;
    top: 60px;
    right: 30px;
    padding-top: 8px;
  }
  .heading-property p {
    font-size: 16px;
  }
}

/* ========================= Trustpilot Ratings ========================== */
.tp-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px 8px;
  margin-bottom: 8px;
}
.tp-ratings p {
  color: black;
  font-size: 13px;
  line-height: 1.3;
  margin-block: 0;
}
.tp-ratings a {
  font-weight: 700;
  color: black;
  text-decoration-color: black;
}
.tp-ratings div {
  max-width: 80px;
}
.tp-ratings img {
  max-height: 14px;
  width: 100%;
  vertical-align: top;
}
.tp-ratings div:last-of-type {
  max-width: 66px;
}
.tp-ratings div,
.tp-ratings div:last-of-type img {
  max-height: 16px;
}
@media screen and (min-width: 1024px) {
  .tp-ratings {
  }
  .tp-ratings p {
    font-size: 15px;
  }
  .tp-ratings div {
    max-width: 116px;
  }
  .tp-ratings img {
    max-height: 20px;
  }
  .tp-ratings div:last-of-type {
    max-width: 90px;
  }
  .tp-ratings div,
  .tp-ratings div:last-of-type img {
    max-height: 22px;
  }
}

/* ========================= Accordion ========================== */
.accordion {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin-block: 20px;
}
.accordion-item {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #505050;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
.accordion-item:focus-within {
  border: 1px solid #505050;
}
.accordion-item:hover {
  background-color: #f0f0f056;
}
.accordion-thumb {
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  padding: 16px;
}
.accordion-panel {
  display: none;
  padding: 16px;
  font-size: 12px;
}
.active .accordion-panel {
  display: block;
}
.accordion-panel * {
  color: black;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
}
.accordion-panel > * {
  margin-block: 16px;
}
.accordion-panel > *:first-of-type {
  margin-top: 0;
}
.accordion-item .plus-icon {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  font-size: 28px;
  line-height: 1;
  transition: transform 0.3s ease;
  padding: 0 5px 3px;
}
.accordion-item .faq-icon {
  width: 24px;
  transition: transform 0.3s ease;
}
.accordion-item.is-active .faq-icon {
  transform: rotate(180deg);
}
.accordion-item.is-active .plus-icon {
  transform: rotate(135deg); /* Rotate icon when active */
}
@media screen and (min-width: 768px) {
  .accordion-thumb {
    font-size: 16px;
  }
  .accordion-panel,
  .accordion-panel * {
    font-size: 14px;
  }
  .accordion-item .faq-icon {
    width: 28px;
  }
}

/* ========================= Announcement ========================== */
/* Sticky */
body:has(.scrolled-past-header:not(.menuOpened)) .announcement-w-timer {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 200ms ease;
}
body:has(.scrolled-past-header:not(.shopify-section-header-hidden)) .announcement-w-timer {
  top: 76px;
}
@media screen and (min-width: 990px) {
  body:has(.scrolled-past-header:not(.shopify-section-header-hidden)) .announcement-w-timer {
    top: 96px;
  }
}
/* Sticky END */
.announcement {
  position: relative;
  z-index: 1;
}
.announcement__wrapper {
  max-width: 1920px;
  width: 100%;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-inline: auto;
}
.announcement p {
  margin-block: 0;
}
.announcement__prepend,
.announcement__text,
.announcement__timer {
  font-size: 13px;
  line-height: 1.4;
}
.announcement__prepend {
  justify-self: flex-start;
}
.announcement__text {
  justify-self: center;
  text-align: center;
}
.announcement__text > * {
  color: inherit;
}
.announcement__text a {
  cursor: pointer;
  color: #5c5c5c;
  font-weight: 600;
  text-decoration: none;
  transition: all 150ms ease;
}
.announcement__text a:hover {
  color: inherit;
}
.announcement__timer {
  justify-self: flex-end;
  user-select: none;
}
@media screen and (min-width: 768px) {
  .announcement__wrapper {
    grid-template-columns: max-content 1fr max-content;
    padding: 10px 24px;
  }
  .announcement__text {
    font-weight: 500;
    font-size: 14px;
  }
}

/* ========================= Text Truncation Read More Button ========================== */
.truncate-btn {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
  text-decoration-offset: 2px;
  cursor: pointer;
  line-height: inherit;
  margin-left: 4px;
}
.truncate-btn:hover {
  opacity: 0.8;
}

/* ========================= FAQ Split ========================== */
.faq-split {
  overflow: hidden;
  font-family: var(--font-body-family);
  padding: 20px 14px;
}
.faq-split__wrapper {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-inline: auto;
}
.faq-split .heading-wrapper {
  max-width: 1600px;
  padding: 0 0 32px;
  margin-inline: auto;
}
.faq-split__image {
  position: relative;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 1;
}
.faq-split__image img {
  width: 100%;
}
.faq-split__image.radius img {
  border-radius: 12px;
}
.faq-split__content {
  align-self: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .faq-split {
    padding: 30px 20px;
  }
  .faq-split__image,
  .faq-split__content {
    max-width: 800px;
  }
  .faq-split__image img {
  }
  .faq-split__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .faq-split {
    padding: 80px 56px;
  }
  .faq-split__wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .faq-split__image {
    position: unset;
  }
  .faq-split__image,
  .faq-split__content {
    flex: 1;
    align-self: unset;
  }
}
@media screen and (min-width: 1266px) {
  .faq-split__wrapper {
    gap: 100px;
  }
}

/* ========================= Image Content ========================== */
.image-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.image-content .heading-wrapper {
  padding: 0;
}
.image-content__cards {
  margin-top: 32px;
}
.image-content__card {
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.image-content__card-image {
  margin-inline: auto;
}
.image-content__card[data-tab] {
  opacity: 0;
  transform: translateY(40px);
  animation: imageContentCardFadeIn 400ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@keyframes imageContentCardFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-content__card-image:has(img) {
  width: 100%;
}
.image-content__card-image video,
.image-content__card-image img {
  max-height: 540px;
  width: 100%;
  object-fit: contain;
  vertical-align: bottom;
}
.image-content__card-content {
  padding: 12px;
}
.image-content__card-title {
  color: black;
  font-family: var(--font-heading-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  margin-block: 0 8px;
}
.image-content__card-text {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-block: 0;
}
.image-content__tabs {
  justify-content: center;
  gap: 12px 24px;
}
.image-content__tab {
  color: #d2d2d2;
  font-family: var(--font-body-family);
  font-weight: 450;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  margin: 0;
  transition: all 150ms ease;
}
.image-content__tab:hover {
  color: #5c5c5c;
}
.image-content__tab.active {
  color: black;
}
@media screen and (max-width: 1023px) {
  .image-content__card-content {
    order: 1;
    padding: 12px;
  }
  .image-content__card-content.first-mb {
    order: -1;
  }
}
@media screen and (min-width: 1024px) {
  .image-content__card {
    flex-direction: row;
    align-items: center;
  }
  .image-content__card-image {
    /* height: 100%; */
  }
  .image-content__card-content {
    order: 1;
    padding: 24px;
  }
  .image-content__card-content.first {
    order: -1;
  }
  .image-content:not(.--grid) .image-content__card-content {
    max-width: 50%;
  }
  .image-content__card-text {
    font-size: 16px;
  }
  .image-content__tabs {
    gap: 24px 40px;
  }
  .image-content__tab {
    font-size: 22px;
  }
}
@media screen and (min-width: 1367px) {
}
/* ========================= Image Content GRID ========================== */
.--grid .image-content__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 24px;
}
.--grid .image-content__card {
  grid-column: 4 span;
  max-width: 600px;
  flex-direction: column;
  align-items: unset;
}
.image-content__card-image.w-95 {
  max-width: 95%;
}
.--grid .image-content__card-title {
  font-size: 16px;
  line-height: 1.4;
}
.--grid .image-content__card-text {
  color: #505050;
}
@media screen and (min-width: 768px) {
  .--grid .image-content__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .--grid .image-content__card {
    grid-column: 2 span;
    grid-row: 1 span;
    max-width: none;
  }
  .--grid .image-content__card-title {
    font-size: 18px;
  }
}

/* ========================= Slick General ========================== */
.slick-initialized {
  overflow: unset;
}
/* Dots */
.slick-dots {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.slick-initialized:not(.slick-progress) .slick-dots {
  gap: 6px;
}
.slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
}
.slick-initialized:not(.slick-progress) .slick-dots li button,
.slick-initialized:not(.slick-progress) .slick-dots li a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--secondary-color-light);
  /* border: 1px solid var(--secondary-color); */
}
.slick-initialized:not(.slick-progress) .slick-dots li.slick-active button,
.slick-initialized:not(.slick-progress) .slick-dots li.slick-active a {
  background-color: var(--secondary-color);
}
.slick-dots li button:before,
.slick-dots li a:before {
  display: none !important;
}
/* Arrows */
.slick-arrow:before {
  display: none !important;
}
.slick-arrow {
  z-index: 2;
}
.slick-arrow:has(img, svg) {
  width: 32px;
  height: 32px;
  padding: 6px;
}
.slick-arrow :is(svg, img) {
  max-width: 100%;
  height: 100%;
  transition: all 150ms ease;
}
.slick-arrow:has(svg) {
  border: 1px solid #060346;
  border-radius: 50%;
  padding: 6px;
  transition: all 150ms ease;
}
.slick-arrow:has(svg):hover {
  background-color: #060346;
}
.slick-arrow:hover svg {
  color: white !important;
}
.slick-header-arrows.slick-dotted,
.slick-bottom-arrows.slick-dotted {
  margin-bottom: 0;
}
.slick-header-arrows .slick-dots,
.slick-bottom-arrows .slick-dots {
  display: none !important;
}
@media (min-width: 768px) {
  .slick-dots li button,
  .slick-dots li a {
    width: 14px;
    height: 14px;
  }
}
/* ========================= Slick Header Arrows Layout ========================== */
.shopify-section:has(.slick-header-arrows) .heading-wrapper {
  max-width: 80%;
}
.slick-header-arrows .slick-arrow {
  top: calc(-32px + -20px);
  left: unset;
  right: 24px;
}
.slick-header-arrows .slick-prev {
  transform: translateX(-28px);
}
.slick-header-arrows .slick-next {
  transform: translateX(28px);
}
@media screen and (min-width: 768px) {
  .slick-header-arrows .slick-arrow {
    right: 38px;
  }
}
/* ========================= Slick Side Arrows Layout ========================== */
.slick-side-arrows:not(.gallery-slider) {
  padding-inline: 32px !important;
}
.slick-side-arrows.gallery-slider .slick-prev {
  left: 0;
}
.slick-side-arrows.gallery-slider .slick-next {
  right: 0;
}
.slick-side-arrows .slick-prev {
  left: 12px;
}
.slick-side-arrows .slick-next {
  right: 12px;
}
.slick-side-arrows .slick-arrow:not(.disabled):not([disabled]) {
  opacity: 1;
  background-color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 6.8px 0px rgba(0, 0, 0, 0.15) !important;
}
.slick-side-arrows .slick-arrow:not(.disabled):not([disabled]):focus {
  background-color: white;
  opacity: unset;
}
.slick-side-arrows .slick-arrow:not(.disabled):not([disabled]):hover {
  background-color: white;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .slick-side-arrows:not(.gallery-slider) {
    padding-inline: 48px !important;
  }
  .slick-side-arrows .slick-prev {
    left: 24px;
  }
  .slick-side-arrows .slick-next {
    right: 24px;
  }
}
/* ========================= Slick Bottom Arrows Layout ========================== */
.slick-bottom-arrows .slick-arrow {
  top: unset;
  left: 50%;
  bottom: -32px;
}
.slick-bottom-arrows .slick-prev {
  transform: translateX(-40px);
}
.slick-bottom-arrows .slick-next {
  transform: translateX(40px);
}
@media screen and (min-width: 768px) {
  .slick-bottom-arrows .slick-arrow {
    bottom: -48px;
  }
}
/* ========================= Slick Bottom Dots ========================== */
.slick-bottom-dots .slick-dots {
}
.slick-bottom-dots .slick-arrow {
  top: unset;
  left: 50%;
  bottom: -50px;
}
.slick-bottom-dots .slick-arrow:has(img) {
  width: 40px;
  height: 40px;
}
.slick-bottom-dots .slick-arrow img {
  width: 32px;
}
.slick-bottom-dots .slick-prev {
  transform: translate(calc(-50% + -84px), -50%);
}
.slick-bottom-dots .slick-next {
  transform: translate(calc(-50% + 84px), -50%);
}
@media screen and (min-width: 768px) {
  .slick-bottom-dots .slick-prev {
    transform: translate(calc(-50% + -96px), -50%);
  }
  .slick-bottom-dots .slick-next {
    transform: translate(calc(-50% + 96px), -50%);
  }
}
/* ========================= Slick Progress Layout ========================== */
.slick-progress .slick-list {
  overflow: visible;
}
.slick-progress .slick-slide {
  padding-inline: 12px;
}
.slick-progress .slick-dots {
  max-width: 120rem;
  display: flex;
  margin: auto;
  padding-inline: 16px;
}
.slick-progress .slick-dots li {
  background: #d6d6d6;
  width: 100%;
  height: 4px;
  padding-block: 2px;
  margin: 0;
}
.slick-progress .slick-dots li button:before {
  display: none;
}
.slick-progress .slick-dots li.slick-active {
  background: black;
}
.slick-progress .slick-next,
.slick-progress .slick-prev {
  top: calc(100% + 40px + 20px);
}
.slick-progress .slick-next {
  right: 35%;
}
.slick-progress .slick-prev {
  left: 35%;
}
@media screen and (min-width: 768px) {
  .slick-progress .slick-dots {
    padding-right: 250px;
    bottom: -40px;
  }
  .slick-progress .slick-next,
  .slick-progress .slick-prev {
    top: 106%;
  }
  .slick-progress .slick-next {
    right: 5%;
  }
  .slick-progress .slick-prev {
    left: 85%;
  }
}
@media screen and (min-width: 1024px) {
  .slick-progress .slick-dots {
    padding-left: 32px;
    bottom: -25px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-progress .slick-slide {
    padding-inline: 24px;
  }
}

/* ========================= Related Products Slider ========================== */
.rp-slider {
  overflow: hidden;
}
.rp-slider:has(.slick-progress) {
  padding-bottom: 100px;
}
.rp-slider .heading-wrapper {
  padding-top: 0;
  padding-inline: 0;
}
.rp-slider__products.slick-progress .slick-slide {
  padding-inline: 2px;
}
.rp-slider .pr-item__product {
  max-width: 460px;
  background-color: transparent;
  padding-inline: 4px;
}

@media screen and (min-width: 768px) {
  .rp-slider:has(.slick-progress) {
    padding-bottom: 80px;
  }
  .rp-slider__products.slick-progress .slick-next,
  .rp-slider__products.slick-progress .slick-prev {
    top: 111.5%;
  }
}
@media screen and (min-width: 1024px) {
  .rp-slider:has(.slick-progress) {
    padding-bottom: 100px;
  }
  .rp-slider .pr-item__product h3 {
    font-size: 18px;
  }
  .rp-slider__products.slick-progress .slick-next,
  .rp-slider__products.slick-progress .slick-prev {
    top: 106%;
  }
}

/* ========================= Rich Flex ========================== */
.rich-flex .heading-wrapper {
  padding: 0;
}
.rich-flex .heading-wrapper .heading-text {
  max-width: 1200px;
  font-size: 18px;
  margin: 0 auto 32px;
}
.rich-flex__cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.rich-flex__card > *,
.rich-flex__card-spec-title > * {
  color: black;
  line-height: 1.2;
  margin-block: 0;
}
.rich-flex__card {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 12px;
}
.rich-flex__card-subtitle {
  text-align: start;
  font-size: 48px;
}
.rich-flex__card-title,
.rich-flex__card-spec-title > * {
  font-size: 28px;
}
.rich-flex__card-spec-title {
  margin-block: 12px;
}
.rich-flex__card-spec-title strong {
  color: var(--accent-color, #000);
  font-weight: inherit;
}
.rich-flex__icon {
  max-width: 80px;
  margin-inline: auto;
}
.rich-flex__icon img {
  width: 100%;
  aspect-ratio: 1;
}
.rich-flex__card-progress {
  position: relative;
  background-color: #e9d6cd;
  height: 30px;
  width: 100%;
  overflow: hidden;
}
.rich-flex__card-progress-bar {
  height: 100%;
  width: 100%;
  background-color: var(--accent-color, #d9ba58);
  text-align: center;
  line-height: 20px;
  color: black; /* Adjust text color based on the background for better visibility */
  font-weight: bold;
  padding: 6px;
}
.rich-flex__card-description {
  font-size: 16px;
}
.rich-flex__cta-wrapper {
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .rich-flex__cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 24px;
  }
  .rich-flex__card {
    flex: 1;
  }
}
@media screen and (min-width: 1367px) {
  .rich-flex__cards {
    gap: 32px;
  }
}

/* ========================= Announcement SLider (USPs) ========================== */
.usp_container {
  --bg-color: #000000;
  --text-color: #ffffff;
  overflow: hidden;
  background-color: var(--bg-color);
}
.usp_wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  animation: autoScroll 60s linear infinite;
  padding: 16px;
  margin: 0;
}
.usp_wrapper:not(:has(img)) {
  gap: 48px;
}
.usp_wrapper .usp_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: fit-content;
  gap: 16px;
}
.usp_wrapper .usp_item img {
  max-height: 28px;
  max-width: 42px;
  width: 100%;
}
.usp_wrapper.has-divider .usp_item img {
  max-height: 6px;
  max-width: 6px;
}
.usp_wrapper .usp_item .usp_text {
  min-width: fit-content;
  color: var(--text-color);
  font-family: var(--font-body-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .usp_wrapper {
    gap: 56px;
    padding: 12px 16px;
    animation-duration: 120s;
  }
  .usp_wrapper.has-divider {
    gap: 40px;
  }
  .usp_wrapper:not(:has(img)) {
    gap: 72px;
  }
  .usp_wrapper .usp_item {
    gap: 24px;
  }
  .usp_wrapper.has-divider .usp_item {
    gap: 40px;
  }
  .usp_wrapper:not(.has-divider) .usp_item img {
    max-width: 72px;
    max-height: 32px;
  }
}

@keyframes autoScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ========================= Landing Hero ========================== */
.lp-hero {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.lp-hero__video {
  position: absolute;
  inset: 0;
}
.lp-hero__video video {
  width: 100%;
  height: 100%;
}
.lp-hero__content {
  max-width: 100vw;
  width: fit-content;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  z-index: 1;
}
.lp-hero__title {
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  margin-block: 0;
}
.lp-hero__description {
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.lp-hero__description > * {
  margin: 0;
}
.lp-hero .main-cta {
  margin-inline: unset;
}
.lp-hero__cards {
  max-width: 90vw;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.lp-hero__card {
  max-width: 340px;
  width: 100%;
  display: flex !important;
  gap: 12px;
  padding: 24px;
}
.lp-hero__icon {
}
.lp-hero__icon img {
  max-height: 28px;
  width: auto;
}
.lp-hero__card-title,
.lp-hero__card-spec-title {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}
.lp-hero__card-spec-title > * {
  margin: 0;
}
.lp-hero__card-description {
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}
.lp-hero__card-spec-title strong {
  color: var(--accent-color, #d9ba58);
  font-weight: 700;
}
.lp-hero__cards .slick-dots li button {
  background-color: transparent !important;
  border: 1px solid white;
}
.lp-hero__cards .slick-dots li.slick-active button {
  background-color: white !important;
}
.lp-hero__cards .slick-slide {
  padding-inline: 12px;
}
@media (min-width: 768px) {
  .lp-hero {
    height: 400px;
  }
  .lp-hero__content {
    padding: 48px 24px;
  }
  .lp-hero__title {
    font-size: 34px;
  }
  .lp-hero__description {
    font-size: 18px;
  }
  .lp-hero__cards {
    justify-content: space-evenly;
    align-items: stretch;
  }
}
@media (min-width: 1024px) {
  .lp-hero {
    height: 640px;
  }
  .lp-hero__content {
    padding: 64px 48px;
  }
  .lp-hero__title {
    font-size: 44px;
  }
  .lp-hero__icon img {
    max-height: 32px;
  }
  .lp-hero__card-title,
  .lp-hero__card-spec-title {
    font-size: 18px;
  }
  .lp-hero__card-description {
    font-size: 16px;
  }
}

/* ========================= Cards Split ========================== */
.cards-split {
}
.cards-split .heading-wrapper {
  max-width: 840px;
  padding: 0 0 2.5rem;
  margin-inline: auto;
}
.cards-split .heading-text {
  color: #505050;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: center;
}
.cards-split__wrapper {
  flex-direction: column;
  gap: 0;
}
.cards-split__cards {
  gap: 12px;
}
.cards-split__card {
  padding: 16px;
}
.cards-split__card-header {
}
.cards-split__card-header img {
  width: 24px;
  height: 24px;
}
.cards-split__card-title {
  color: black;
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: center;
}
.cards-split__card-description {
  color: #505050;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
}
.cards-split__image {
  order: -1;
  max-width: 480px;
  width: 100%;
}
.cards-split__image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .cards-split {
    padding-bottom: 0;
  }
  .cards-split__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 8vw;
  }
  .cards-split__content {
    max-width: 540px;
    width: 100%;
    margin-bottom: 30px;
  }
  .cards-split__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .cards-split__card {
    justify-content: center;
  }
  .cards-split__image {
    order: 1;
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  .cards-split .heading-text {
    font-size: 16px;
  }
  .cards-split__cards {
    height: 90%;
  }
  .cards-split__card {
    padding: 16px 24px;
  }
  .cards-split__card-header img {
    width: 32px;
    height: 32px;
  }
  .cards-split__card-title {
    font-size: 18px;
  }
  .cards-split__card-description {
    font-size: 16px;
  }
}

/* ========================= Shopify Privacy Banner ========================== */
#shopify-pc__banner.shopify-pc__banner__dialog {
  max-width: 420px;
  padding: 16px;
}
#shopify-pc__banner .shopify-pc__banner__wrapper {
  gap: 16px;
}
#shopify-pc__banner .shopify-pc__banner__body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#shopify-pc__banner .shopify-pc__banner__body,
#shopify-pc__banner .shopify-pc__banner__body h2,
#shopify-pc__banner.shopify-pc__banner__dialog button {
  margin: 0;
}
#shopify-pc__banner #shopify-pc__banner__btn-decline,
#shopify-pc__banner.shopify-pc__banner__dialog button:empty {
  display: none;
}
#shopify-pc__banner .shopify-pc__banner__body h2 {
  font-size: 16px;
}
#shopify-pc__banner .shopify-pc__banner__btns {
  flex-direction: row;
  gap: 8px;
}
#shopify-pc__banner .shopify-pc__banner__btns button {
  border: none;
  background: var(--accent-color);
  color: black;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
}
@media (min-width: 540px) {
  #shopify-pc__banner.shopify-pc__banner__dialog {
    left: 16px;
    bottom: 16px;
    padding: 24px;
  }
}

/* ========================= Trustpilot Widget Fallback ========================== */
.trustpilot-widget a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.trustpilot-widget a img {
  max-width: 120px;
  max-height: 24px;
  width: auto;
  height: 100%;
}
.trustpilot-widget a img:last-child {
  max-width: 80px;
  max-height: 20px;
}
.trustpilot-widget a .trustpilot-text {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.05em;
}
